{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "parser": "typescript",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
